<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div id="container" class="mainContainer">

</div>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script>
    window.socket = io();
</script>
<script type="text/javascript" src="lib/kotlin/kotlin.js"></script>
<script type="text/javascript" src="lib/kotlin/kotlinx-html-js.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>

